# The routes of the project.
#
# Each route describes how an incoming URL is going
# to be processed by Platform.sh.
"https://{default}/":
  type: upstream
  upstream: "app:http"
  cache:
    enabled: true

    # Base the cache on the session cookie and custom Drupal cookies. Ignore all other cookies.
    cookies: ['/^SS?ESS/', '/^wordpress_/', '/^wp-settings/']
  redirects:
    expires: 1d
    paths:
      '^/wp-admin$':
        to: "/wp-admin/"
        regexp: true
      '/github':
        to: "https://github.gilzow.com/"

"https://{all}/":
    type: upstream
    upstream: "app:http"
    cache:
        enabled: true

        # Base the cache on the session cookie and custom Drupal cookies. Ignore all other cookies.
        cookies: ['/^SS?ESS/', '/^wordpress_/', '/^wp-settings/']
    redirects:
      expires: 1d
      paths:
        '^/wp-admin$':
          to: "/wp-admin/"
          regexp: true
        '/google':
          to: "https://google.com/"
        '/staging':
          to: "https://staging-5em2ouy-knmrj5cbepipu.ca-1.platformsh.site/"

# *ALL* www.* requests should be redirected back to primary domain
"https://www.{all}/":
    type: redirect
    to: "https://{all}/"

"https://foo.main-bvxea6i-knmrj5cbepipu.ca-1.platformsh.site":
  type: upstream
  upstream: "app:http"
  cache:
    enabled: true
